{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "fedora" }}
sourceDir = '~/.local/share/chezmoi/fedora'
{{ end }}
{{ if eq .chezmoi.osRelease.id "manjaro" }}
sourceDir = '~/.local/share/chezmoi/manjaro'
{{ end }}
{{ if eq .chezmoi.osRelease.id "archarm" }}
sourceDir = '~/.local/share/chezmoi/arch'
{{ end }}
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
sourceDir = '~/.local/share/chezmoi/macos'
{{ end }}



[diff]
    exclude = ["scripts"]

