[Unit]
Description=Emacs server daemon.
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/emacs --fg-daemon
WorkingDirectory=%h/.config/
Restart=on-failure

[Install]
WantedBy=graphical-session.target
