[Unit]
Description=Pypr daemon for hyprland.
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/local/bin/pypr
WorkingDirectory=%h/.config/
Restart=on-failure

[Install]
WantedBy=graphical-session.target
