[Unit]
Description=Waynergy client daemon.
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/waynergy
WorkingDirectory=%h/.config/
Restart=on-failure

[Install]
WantedBy=graphical-session.target
